@media only screen {
	.featuresexposition-wrapper-grid-item{
		margin-bottom: 40px;
	}
	.featuresexposition-wrapper-grid-item-left{
		margin-bottom: 20px;
	}
	.featuresexposition-wrapper-grid-item-left-image{
		width: 100%;
		height: auto;
	}
	.featuresexposition-wrapper-grid-item-right-header{
		margin-bottom: 10px;
		@include font-size(26);
		letter-spacing: 1px;
		font-weight: 600;
	}
	.featuresexposition-wrapper-grid-item-right-description{
		line-height: 1.5;
		@include font-size(18);
	}
}

@media only screen and (min-width: $medium){
	.featuresexposition-wrapper-grid{
		font-size: 0px;
		margin: 0 -20px;
	}
	.featuresexposition-wrapper-grid-item{
		width: calc(50% - 20px);
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 40px 10px;
	}
}

@media only screen and (min-width: $large){
	.featuresexposition-wrapper-grid{
		margin: 0;
	}
	.featuresexposition-wrapper-grid-item{
		width: 100%;
		display: block;
		margin: 0 0 40px 0;
		font-size: 0px;
		&.invert{
			@include transform(rotate(180deg));
			.featuresexposition-wrapper-grid-item-right,
			.featuresexposition-wrapper-grid-item-left{
				@include transform(rotate(180deg));
			}
			.featuresexposition-wrapper-grid-item-right{
				padding-right: 20px;
				padding-left: 0px;
				text-align: right;
			}
			.featuresexposition-wrapper-grid-item-left{
				padding-right: 0px;
				padding-left: 20px;
			}
		}
	}
	.featuresexposition-wrapper-grid-item-right,
	.featuresexposition-wrapper-grid-item-left{
		width: 50%;
		display: inline-block;
		vertical-align: middle;
	}
	.featuresexposition-wrapper-grid-item-right{
		padding-left: 20px;
	}
	.featuresexposition-wrapper-grid-item-left{
		padding-right: 20px;
	}
}









