@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen {
	.galleryexposition-filters-filter{
		max-width: 320px;
		margin: 0 auto;
		text-align: center;
	}
	.galleryexposition-filters-filter-label{
		margin-bottom: 10px;
	}
	.galleryexposition-filters-filter-ui{
		width: 100%;
	}
	.galleryexposition-wrapper-grid{
		margin-top: 40px;
	}
	.galleryexposition-wrapper-grid-item{
		min-height: 240px;
		position: relative;
		margin: 20px 0;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		width: 100%;
		cursor: pointer;
	}
	.galleryexposition-wrapper-grid-item-cats{
		font-size: 0;
		position: absolute;
		top: 0;
		left: 0;
	    z-index: 5;
	    pointer-events: none;
	}
	.galleryexposition-wrapper-grid-item-cats-cat{
		text-decoration: none;
	    background-color: $offblack;
	    position: relative;
	    padding: 12px 26px;
	    display: inline-block;
	    color: white;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    @include font-size(12);
	}
	.galleryexposition-wrapper-grid-item-text{
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		@include font-size(30);
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 100%;
		text-align: center;
		padding: 20px;
		z-index: 2;
		pointer-events: none;
	}
	.galleryexposition-wrapper-grid-item-tint{
		background-color: rgba(0,0,0,0.3);
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	.galleryexposition-wrapper-moreposts{
		@include font-size(14);
		text-transform: uppercase;
		color: white;
		background-color: $offblack;
		border: 2px solid $offblack;
		font-weight: 400;
		padding: 16px 19px 14px 21px;
		text-decoration: none;
		display: inline-block;
		letter-spacing: 1px;
		cursor: pointer;
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
	}
	.galleryexposition-wrapper-loading{ 
		text-align: center;
		opacity: 1;
		@include transition(opacity 0.5s ease);
		&.hide{
			opacity: 0;
		}
		i{
			@include font-size(30);
			color: $offblack;
			-webkit-animation: rotating 1s linear infinite;
			-moz-animation: rotating 1s linear infinite;
			-ms-animation: rotating 1s linear infinite;
			-o-animation: rotating 1s linear infinite;
			animation: rotating 1s linear infinite;
		}
	}
	.galleryexposition-wrapper-grid-nomore{
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 23px;
		letter-spacing: 2px;
	}
}

@media only screen and (min-width: $medium){
	.galleryexposition-wrapper-grid{
		font-size: 0;
		margin: 40px -20px;
		text-align: center;
	}
	.galleryexposition-wrapper-grid-item{
		display: inline-block;
		width: calc(50% - 40px);
		margin: 20px;
	}
	.galleryexposition-wrapper-moreposts{
		@include font-size(16);
	}
	.galleryexposition-wrapper-loading i{
		@include font-size(40);
	}
}

@media only screen and (min-width: $large){
	.galleryexposition-wrapper-grid-item{
		width: calc(calc(100% / 3) - 40px);
		&:hover{
			.galleryexposition-wrapper-grid-item-cats{
				opacity: 1;
				left: -10px;
			}
			.galleryexposition-wrapper-grid-item-tint{
				background-color: rgba(0,0,0,0.5);		
			}
			.galleryexposition-wrapper-grid-item-text{
				opacity: 1;
				@include font-size(30);
			}
		}
	}
	.galleryexposition-wrapper-grid-item-cats{
		opacity: 0;
		top: -10px;
		left: -30px;
		@include transition(opacity 0.25s ease, left 0.25s ease);	
	}
	.galleryexposition-wrapper-grid-item-tint{
		background-color: rgba(0,0,0,0);
		@include transition(background-color 0.25s ease);
	}
	.galleryexposition-wrapper-grid-item-text{
		opacity: 0;
		@include font-size(20);
		@include transition(opacity 0.25s ease, font-size 0.25s ease);
	}
	.galleryexposition-wrapper-moreposts{
		@include transition(background-color 0.25s ease, color 0.25s ease);
		&:hover{
			color: black;
			background-color: transparent;
		}
	}
	.galleryexposition-wrapper-loading i{
		@include font-size(56);
	}
}
