@media only screen {
	.pricingsummary-wrapper-badge{
		padding: 0 20px;
		width: 280px;
		margin: 60px auto 0px auto;
	}
	.pricingsummary-wrapper-badge-header{
		text-align: center;
		color: white;
		font-weight: 400;
		background-color: $gold;
		padding: 10px 0 7px 0;
		@include font-size(20);
		letter-spacing: 2px;
		position: relative;
		text-transform: uppercase;
		&:before,
		&:after{
			content: "";
		    position: absolute;
		    display: block;
		    bottom: 0px;
		    border: 12px solid #D49100;
		    z-index: 0;
		}
		&:before{
			left: -20px;
		    border-right-width: 10px;
		    border-left-color: transparent;
		}
		&:after{
			right: -20px;
			border-left-width: 10px;
			border-right-color: transparent;
		}
	}
	.pricingsummary-wrapper-badge-price{
		text-align: center;
	    width: 100%;
	    position: relative;
	    padding-top: 5px;
	    height: 240 /sqrt(2) + px;
	    overflow: hidden;
        &:after{
        	content: "";
    	    display: block;
    	    width: 240 /sqrt(2) + px;
    	    height: 240 /sqrt(2) + px;
    	    background-color: white;
    	    box-shadow: 0px 0px 10px rgba(50,50,50,0.7);
    	    @include transform(rotate(45deg));
    	    position: absolute;
    	    top: -86px;
    	    left: 35px;
        }
	}
	.pricingsummary-wrapper-badge-price-left,
	.pricingsummary-wrapper-badge-price-right{
		display: block;
		position: relative;
		z-index: 2;
	}
	.pricingsummary-wrapper-badge-price-left{
		@include font-size(50);
		color: $gold;
	}
	.pricingsummary-wrapper-badge-price-right{
		@include font-size(15);
		padding: 0 20px;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: $gold;
		font-weight: 700;
	}
	.pricingsummary-wrapper-badge-grid{
		box-shadow: 0px 0px 10px rgba(50,50,50,0.7);
	}
	.pricingsummary-wrapper-badge-grid-item{
		text-align: center;
		padding: 10px;
		@include font-size(16);
		font-weight: 700;
		text-transform: uppercase;
		&:nth-child(odd){
			background-color: $lightgrey;
		}
		&:nth-child(even){
			border: 2px solid $lightgrey;
			background-color: lighten($lightgrey, 5%);
		}
	}
}

@media only screen and (min-width: $medium){
	.pricingsummary-wrapper-badge-header{
		@include font-size(28);
	}
	.pricingsummary-wrapper-badge{
		width: 640px;
		margin-bottom: 0px;
	}
	.pricingsummary-wrapper-badge-price{
	    height: 600 /sqrt(2) + px;
	    padding-top: 40px;
        &:after{
    	    width: 600 /sqrt(2) + px;
    	    height: 600 /sqrt(2) + px;
    	    top: -212px;
    	    left: 87px;
        }
	}
	.pricingsummary-wrapper-badge-price-left{
		@include font-size(90);
	}
	.pricingsummary-wrapper-badge-price-right{
		@include font-size(30);
	}
	.pricingsummary-wrapper-badge-grid{
		font-size: 0;
	}
	.pricingsummary-wrapper-badge-grid-item{
		padding: 20px 10px;
		@include font-size(20);
		&:nth-child(even){
			background-color: white;
			border: 0px;
		}
	}
}

@media only screen and (min-width: $large){
	.pricingsummary-wrapper-badge-grid{
		max-width: $medium;
		margin: 0 auto;
	}	
}
