@media only screen {
	.signupsection{
		z-index: 10;
		background-color: rgba(0,0,0,0.7);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		padding: 40px;
		display: none;
		.gform_confirmation_message{
			padding-top: 20px;
		    color: white;
		    line-height: 1.5;
		    text-align: center;
		    letter-spacing: 1px;
		    font-weight: 300;
		}
	}
	.signupsection-wrapper-close{
		position: absolute;
		top: 8px;
		right: 10px;
		color: white;
		@include font-size(32);
		cursor: pointer;
	}
	div.signupsection-wrapper{
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%,-50%));
		background-color: #888;
		padding: 40px;
		border-radius: 2px;
		width: 100%;
		max-width: 400px;
		div.gform_wrapper{
			margin-bottom: 0px;
			div.validation_error,
			div.validation_message{
				color: $errorred;
				border-color: $errorred;
				font-weight: 600;
			}
			form{
				label.gfield_label{
					display: none;
				}
				.gform_footer{
					padding: 0px;
					margin: 0px;
					input[type="submit"]{
						margin-top: 10px;
						width: 100%;
						background-color: $offblack;
						color: white;
						text-transform: uppercase;
						@include font-size(16);
						letter-spacing: 1px;
						border: 0px;
						padding: 8px;
						cursor: pointer;
					    margin-bottom: 0px;
					}
				}
				.gfield{
					padding-right: 0px;
				}
				.ginput_container{
					input[type="text"]{
						width: 100%;
						-webkit-appearance: none;
						padding: 6px 10px !important;
						border: 1px solid lightgrey;
						border-radius: 2px;
					}
				}
			}
		}
	}
	.signupsection-wrapper-header{
		color: white;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 400;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
