@media only screen {
	.contactsection{
		.gform_confirmation_wrapper{
			text-align: center;
			padding-top: 40px;
		}
		.gform_wrapper{
			margin: 40px 0;
			form{
				div.validation_error{
					color: $errorred;
					border-color: $errorred;
					font-weight: 400;
					line-height: 1.5;
					letter-spacing: 1px;
				}
				.gform_body{
					ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
						max-width: 100% !important;
					}
					.gfield{
						padding-right: 0px;
						.validation_message{
							color: $errorred;
							font-weight: 400;
							line-height: 1.5;
							letter-spacing: 1px;
						}
					}
					.gfield_label{
						display: none;
					}
					.ginput_container{
						input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
							border: 1px solid lightgrey;
							border-radius: 2px;
							padding: 11px 10px 10px 10px;
						}
						textarea.medium{
							border: 1px solid lightgrey;
							border-radius: 2px;
						}
					}
				}
				.gform_footer{
					padding-bottom: 0px;
					input[type="submit"]{
						text-transform: uppercase;
					    background-color: black;
					    color: white;
					    letter-spacing: 2px;
					    border: 0px;
					    border-radius: 2px;
					    margin-bottom: 0px;
					    cursor: pointer;
					    padding: 12px 10px;
					    border: 2px solid black;
					}
				}
			}
		}
	}
	.contactsection-wrapper{
		max-width: $medium;
		margin: 0 auto;
	}
}

@media only screen and (min-width: $medium){
	.contactsection .gform_wrapper form{
		.gform_body{
			.ginput_container{
				input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
					width: 100%;
				}
			}
		}
		.gform_footer{
			input[type="submit"]{
				padding: 15px 10px;
				width: 100%;
			}
		}
	} 
}

@media only screen and (min-width: $large){
	.contactsection .gform_wrapper form .gform_footer input[type="submit"]{
		@include transition(background-color 0.25s ease, color 0.25s ease);
		&:hover{
			background-color: white;
			color: black;
		}
	}
}
