@media only screen {
	.gallerysite{
		background-image: url('../../library/img/gallerysitebg.jpg');
		padding-top: 60px;
		height: calc(100vh - 56px);
		&.modal{
			position: fixed;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 100;
			background-image: none;
			display: none;
			padding-top: 0px;
			.gallerysite-nav,
			.gallerysite-iframe{
				z-index: 50;
				position: relative;
			}
			.gallerysite-tint{
				background-color: rgba(0,0,0,0.8);
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				position: absolute;
				z-index: 10;
			}
			.gallerysite-close{
				position: absolute;
				top: 20px;
				right: 20px;
				color: white;
				font-size: 40px;
				z-index: 80;
				cursor: pointer;
			}
			.gallerysite-iframe{
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
			}
			.gallerysite-nav-pills{
				padding-top: 0px;
			}
			.gallerysite-nav-pills-pill{
				&[data-type='phone']{
					border-top-left-radius: 0px;
					border-bottom-left-radius: 9px;
				}
				&[data-type='desktop']{
					border-top-right-radius: 0px;
					border-bottom-right-radius: 9px;
				}
			}
		}
	}
	.gallerysite-nav{
		text-align: center;
	}
	.gallerysite-nav-pills{
		padding: 10px;
		width: 100%;
		font-size: 0px;
	}
	.gallerysite-nav-pills-pill{
		color: #dfdfdf;
		box-shadow: 0px -7px 20px rgba(0,0,0,0.1);
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 13px 15px 10px 15px;
		display: inline-block;
		@include font-size(12);
		cursor: pointer;
		background: #868686; /* Old browsers */
		background: -moz-linear-gradient(top, #868686 0%, #606060 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #868686 0%,#606060 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #868686 0%,#606060 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		&[data-type="phone"]{
			border-top-left-radius: 9px;
			border-left: 1px solid grey;
			border-top: 1px solid grey;
		}
		&[data-type="tablet"]{
			border-top: 1px solid grey;
			border-right: 1px solid grey;
			border-left: 1px solid grey;
		}
		&[data-type="desktop"]{
			border-top-right-radius: 9px;
			border-right: 1px solid grey;
			border-top: 1px solid grey;
		}
		&.active{
			color: white;
			background: #4f4f4f; /* Old browsers */
			background: -moz-linear-gradient(top, #4f4f4f 0%, #7c7c7c 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #4f4f4f 0%, #7c7c7c 100%);
		    background: linear-gradient(to bottom, #4f4f4f 0%, #7c7c7c 100%);
		}
	}
	.gallerysite-iframe{
		width: 100%;
		margin: 0 auto;
		display: block;
		height: 100%;
		@include transition(max-width 0.4s ease, max-height 0.4s ease);
		background-color: white;
		&.phone{
			max-width: 320px;
			max-height: 568px;
		}
		&.tablet{
			max-width: 768px;
			max-height: calc(100vh - 80px);	
		}
		&.desktop{
			max-width: 1200px;
			max-height: calc(100vh - 80px);	
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
