@media only screen {
	.pagehero{
		height: 70vh;
		width: 100%;
		position: relative;
		overflow-y: hidden;
	}
	.pagehero-textcontainer{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		text-align: center;
		color: white;
		z-index: 3;
		width: 100%;
		padding: 0 20px;
	}
	.pagehero-textcontainer-tagline{
		font-weight: 300;
		letter-spacing: 2px;
		text-transform: uppercase;
		@include font-size(34);
		margin-bottom: 40px;
	}
	.pagehero-textcontainer-button{
		@include font-size(14);
		text-transform: uppercase;
		color: white;
		border: 2px solid white;
		font-weight: 300;
		padding: 16px 19px 14px 21px;
		text-decoration: none;
		display: inline-block;
		margin: 0 10px;
		letter-spacing: 1px;
		min-width: 150px;
	}
	.pagehero-tint{
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
	}
	.pagehero-tint,
	.pagehero-imagecontainer,
	.pagehero-imagecontainer-image{
		width: 100%;
		height: 100%;
	}
	.pagehero-imagecontainer-image{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

@media only screen and (min-width: $medium){
	.pagehero-textcontainer-tagline{
		@include font-size(44);
	}
	.pagehero-textcontainer-button{
		@include font-size(16);
		font-weight: 300;
	}
}

@media only screen and (min-width: $large){
	.pagehero-textcontainer-tagline{
		@include font-size(54);
	}
	.pagehero-textcontainer-button{
		@include transition(background-color 0.25s ease, border-color 0.25s ease);
		&:hover{
			background-color: $offblack;
			border-color: $offblack;
		}
	}	
}
