@media only screen {
	.section{
		&.grey{
			background-color: $lightgrey;
		}
		border-bottom: 3px solid darken($lightgrey, 5%);
	}
	.section-wrapper{
		padding: 80px 20px;
		max-width: $xlarge;
		margin: 0 auto;
	}
	.section-wrapper-superheader{
		text-align: center;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 4px;
		color: $grey;
		@include font-size(14);
		margin-bottom: 20px;
		line-height: 1.5;
	}
	.section-wrapper-header{
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 4px;
		@include font-size(26);
		margin-bottom: 20px;
	}
	.section-wrapper-button{
		display: inline-block;
		text-transform: uppercase;
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		color: white;
		letter-spacing: 2px;
		background-color: $offblack;
		padding: 16px 20px 15px 23px;
		@include font-size(15);
		text-decoration: none;
		border: 2px solid $offblack;
	}
}

@media only screen and (min-width: $medium){
	.section-wrapper{
		padding: 120px 80px;
	}
	.section-wrapper-header{
		@include font-size(30);
	}
}

@media only screen and (min-width: $large){
	.section-wrapper-header{
		@include font-size(36);
		margin-bottom: 60px;
	}	
	.section-wrapper-button{
		@include transition(background-color 0.25s ease, color 0.25s ease);
		&:hover{
			background-color: transparent;
			color: $offblack;
		}
	}
}















