//////////////////////////
// global & reset stuff //
//////////////////////////


$fa-font-path: "../../library/fonts";

@import "../node_modules/font-awesome/scss/font-awesome";

@import "fonts", "vars", "mixins";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
html{
	font-size: 62.5%; // base 10 for fonts
	font-family: $main;
	position: relative;
	height: 100%;
}
body{
	font-size: 1.6rem;
	position: relative;
	right: 0;
	@include transition(right 0.25s ease);
	padding-bottom: 56px;
	min-height: 100%;
	&.navactive{
		right: 100px;
	}
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@import "section";
@import 'components/nav';
@import 'sections/homehero';
@import 'sections/pagehero';
@import 'sections/gallerysite';
@import 'sections/contact';
@import 'sections/footer';
@import 'sections/expositions/features-exposition';
@import 'sections/expositions/gallery-exposition';
@import 'sections/summaries/features-summary';
@import 'sections/summaries/addons-summary';
@import 'sections/summaries/pricing-summary';
@import 'sections/summaries/gallery-summary';
@import 'components/signup';
@import 'components/spinner';